/*https://www.onlinewebfonts.com/download/f280c028008a19a2004034e4004b3c6a*/
@import url(//db.onlinewebfonts.com/c/f280c028008a19a2004034e4004b3c6a?family=BlakelyW00-Bold);
@font-face {font-family: "BlakelyW00-Bold";
    src: url("//db.onlinewebfonts.com/t/f280c028008a19a2004034e4004b3c6a.eot");
    src: url("//db.onlinewebfonts.com/t/f280c028008a19a2004034e4004b3c6a.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/f280c028008a19a2004034e4004b3c6a.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/f280c028008a19a2004034e4004b3c6a.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/f280c028008a19a2004034e4004b3c6a.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/f280c028008a19a2004034e4004b3c6a.svg#BlakelyW00-Bold") format("svg");
}
body{
    background-color: #6A5244;
    overflow: hidden;

}

  
.body2{
    background-color: red;
}

.button1{
    font-family: "BlakelyW00-Bold";
    width: 10em;
    font-size: 3em;
    border-radius: 2em;
    background-color: red;
    color: white;
    position: absolute;
    top:50%;
    left: 3%;

}
.button2{
    font-family: "BlakelyW00-Bold";
    width: 10em;
    font-size: 3em;
    border-radius: 2em;
    background-color: darkblue;
    color: white;
    position: absolute;
    top:50%;
    left: 69%;
    z-index: 1;

}
h1{
    font-family: "BlakelyW00-Bold";
    margin-top: 40%;
    position: absolute;
    font-size: 190px ;
    color: #27A6CC;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}
h2{
    font-family: "BlakelyW00-Bold";
    margin-top: 40%;
    position: absolute;
    font-size: 40px ;
    color: #27A6CC;
    text-align: center;
   left: 77%;
    top:-12%;
    z-index: -1;
    color: yellow;
    opacity: 0;

}
h3{
    font-family: "BlakelyW00-Bold";
  position: absolute;
    left: 35%;
    top: 20%;
    opacity: 0;
}
h4{
    font-family: "BlakelyW00-Bold";
  position: absolute;
    left: 40%;
    top: 75%;
    opacity: 0;
    
}
.zichtbaar{
    opacity: 1;
}
.h2{
    opacity: 1;
}


header{
    background-color: antiquewhite;
     position: fixed; /* Sit on top of the page content */
   /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%;
    z-index: 1;/* Full height (cover the whole page) */

}
h1:hover{
    color: hotpink;
}
#zwartelaag{
    fill: black;
}
#zwartelaag :hover{
    fill: white;
}
.st1{

 fill: #cc2525;
}
.section1{
  top:54%;
    left: 35%;
  height: 7em;
  width: 3em;
  background-color: #6A5244;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: 1;
  opacity: 0;
 transform: rotate(-15deg);
}
.section2{
  top:52%;
    left: 39%;
  height: 7em;
  width: 3em;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transform: rotate(-21deg);
}
.section3 {
    top: 52%;
    left: 40%;
    height: 60em;
    width: 50em;
    background-color: yellow;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    z-index: 1;
    transform: rotate(-21deg);
}
.section3aan {
animation: plop2;
animation-duration: .5s;
    animation-delay: 3s;
}


.schilderij{
    width: 30em;
    opacity: 1;
    position: absolute;
    left: 35%; 
    top: 10%;
    border: 1em;
    border-style:solid;
}
.schilderij1{
    width: 30em;
    opacity: 0;
    position: absolute;
    left: 35%; 
    top: 10%;
    border: 1em;
    border-style:solid;
    z-index: 1;
}
.schilderij11{
    transition-duration: 2s;
    width: 15em;
    opacity: 1;
    position: absolute;
    left: 75%; 
    top: 25%;
    border: 1em;
    border-style:solid;z-index: 0;
    box-shadow: black 0em 0em 1em;
}
.schilderij1:hover{
    width: 15em;
    opacity: 1;
    position: absolute;
    left: 75%; 
    top: 25%;
    border: 1em;
    border-style:solid;z-index: 0;
    transform: rotate(-60deg);
    transition-duration: 1s;
    box-shadow: black 1em 1em 1em;
}
.appel{
    width: 10em;
    margin-left: 15%;
    margin-top: -30%;
    opacity: 0;
    position: absolute;
}
.appelballon{
    width: 8em;
    margin-left: 82%;
    margin-top: -54%;
    opacity: 0;
    position: absolute;
}
p{
    margin-left: 78%;
    margin-top: -52%;
    font-size: 65px;
    opacity: 0;
    font-family: "BlakelyW00-Bold";
}
.st6{
    fill: #cc2525;
}
.st22{
    fill: #EADED1;
   
}

#bout{
   fill: #cc2525;
}

#bout1{
 fill: #cc2525;
    }

#bol1{
    fill:#6A5244;
}
#bol2{
    fill:#6A5244;
}

#bol3{
    fill:#6A5244;
}

#wolkje{
    fill:#6A5244;
}

div{
position: absolute;
    width: 10em;
    height: 10em;
    background-color: white;
    border-radius: 6em;
    z-index: 0;
    left: 15.5%;
    top: 50%;
    opacity: 0;
}

.snoepje {
 animation: draaien 2s infinite linear;
  fill: black;
}
.snoepje2 {
 animation: draaien2 2s infinite linear;
fill: black;
}

.gezichtkleur{
fill: grey;
}

.breinverschijn{
    fill: #EADED1;
}    
.verschijn1{
    fill: #EADED1;
    transition-delay: 0.4s;
} 
.verschijn2{
    fill: #EADED1;
    transition-delay: 0.8s;
}
.verschijn3{
    fill: #EADED1;
    transition-delay: 0.6s;
}
.verschijn4{
    fill: #EADED1;
    transition-delay: 1s;
}

.denkappel{
   transition-delay: 1.2s; 
    opacity: 1;
}

.cls-3:hover{
    display: none;
}

#achterlaag {
    overflow: hidden;
         opacity: 0%;
}

#driehoekje{
    width: 200px;
}


@keyframes draaien {
 0% {
		transform: rotate(0deg);
     transform-origin: 51% 21% 
         ;
	}
	100% {
		transform: rotate(360deg);
         transform-origin: 51% 21% 
             ;
       
	}
}
@keyframes draaien2 {
 0% {
		transform: rotate(0deg);
     transform-origin: 56% 24% 
         ;
	}
	100% {
		transform: rotate(360deg);
         transform-origin: 56% 24% ;
    
	}
}

.plop{
    animation: plop 1s;
}

@keyframes plop {
 0% {
		opacity: 0;
         
	}
    50% {
	opacity: 1;
 transform: scale(1.5)
    
	}
	100% {
	opacity: 0;
    
	}
}

@keyframes plop2 {
 0% {
		opacity: 0;
         
	}
    50% {
	opacity: 1;
 transform: scale(1.9);
    
	}
	100% {
	opacity: 0;
    
	}
}
.hallo{
    opacity: 1;
}


@keyframes eten{
10% {
		opacity: 0;
	}
    80% {
		opacity: 0;
	}
   100% {
		opacity: 1;
	}
}

.doei{
    animation: verdwijn 1s;
    opacity: 0;
    z-index: -3;
}
@keyframes verdwijn{
0% {
		opacity: 1;
	}
   
   100% {
		opacity: 0;
	}
}

.hapnemen{
    width: 10em;
    margin-left: 33%;
    margin-top: -30%;
    transform:rotate(-15deg);
    transition-duration: 1s;
    
}

.haphap{
animation: eten;
    animation-duration: 2.5s;
}
.haphap2{
opacity: 1;
    transition-delay: 0.5s;
    transition-duration: 1s;
}
.haphap3{
opacity: 1;
     transition-delay: 1s;
    transition-duration: 1s;
}
.lopen{
  animation: lopen 6s;
    
    z-index: 2;
}

/*https://developer.mozilla.org/en-US/docs/Web/CSS/Media_Queries/Using_media_queries*/
@media screen and (max-width: 25em){
      html {
           width: 120%;
         overflow: hidden;
          max-width: 120%;
          
}
    
    header{
       display: none;
    }
   svg{
       width: 60em;
       margin-left: -60%;
                        }                       
    h1{
   font-size: 5em;
    position: absolute;
    left: 7%;
    top: 35%;

    }
 .schilderij1{
display: none;
       
     }                      
    #bol1{
    display: none;

    }                      
    #bol2{
    display: none;
}

#bol3{
   display: none;
}

#wolkje{
display: none;
     }   
.appelballon{
    width: 5em;
    margin-left: 58%;
    margin-top: -125%;
    opacity: 0;
    position: absolute;
    transition-delay: 2s;
}
.denkappel{
   transition-delay: 1.2s; 
    opacity: 1;
}
    p{
        display: none;
    }
}

#persoon1{
    position: absolute;
    left: 70%;
        top:20%;
    
}
  


@keyframes lopen{
    20%{
        left:60%;
        
    }
    40%{
        left:50%;
       
    }
     60%{
        left:40%;
        
    100%{
        left:30%;
         }
 
    }

 
